.game {
    .bulle {
        color: @white;
        background-image: url("img/bulledialogue.svg");

        &.lea {
            background-color: @red;
        }

        &.greg {
            background-color: @green;
        }

        .content {
            width: 80%;
            margin: 0 auto;
        }
    }
}
