// Thème
@red: #ed1157;
@green: #00b5ae;
@white: white; // TODO à changer ?

// Games
@import "games/bouche-trou.less";
@import "games/charabia.less";

// Other
@import "game.less";
@import "utilitaires.less";
