<div class="bulle {{ character}}" >
    <svg class="speech-bubble" ng-class="{ 'flip-horizontal':flip }" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 258 256" style="enable-background:new 0 0 258 256;"
        xml:space="preserve">
        <polygon class="{{ character }}" points="8,15.4 252.9,4.3 238.1,194.1 182.5,191.3 210.8,250.3 125.4,191.3 24.6,185.8 " />
    </svg>
    <div  class="content">
        <div>{{ content }}</div>
    </div>
</div>
