<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>Le Mini Quiz !!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center miniquiz-question">
            <p>En cas de neige, de vents violents ou d'autres intempéries, il se peut qu'un ligne électrique tombe au sol. D'après toi, que faut-il faire dans ce cas-là ?</p>
        </div>
    </div>
</div>
<div class="container miniquiz-proposition">
    <div class="row miniquiz-ligne-reponse-rouge">
        <div class="col-xs-12">
            <p><span class="miniquiz-reponse-rouge">Reponse 1</span> : Ne pas toucher la ligne et prévenir un adulte pour qu'il téléphone a Enedis.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p><span class="miniquiz-reponse-vert">Reponse 2</span> : Pousser la ligne avec un bâton pour éviter que quelqu'un se prenne les pieds dedans.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p><span class="miniquiz-reponse-blue">Reponse 3</span> : La laisser ou elle est... C'est sur, quelqu'un viendra un jour la réparer.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-xs-4">
            <button ng-click="vrai()" class="miniquiz-bouton miniquiz-bouton-rouge" type="button" name="button">1</button>
        </div>
        <div class="col-xs-4">
            <button ng-click="faux()" class="miniquiz-bouton miniquiz-bouton-vert" type="button" name="button">2</button>
        </div>
        <div class="col-xs-4">
            <button ng-click="faux()" class="miniquiz-bouton miniquiz-bouton-blue" type="button" name="button">3</button>
        </div>
    </div>
</div>
