<div class="container classe-mere">
    <div class="row vrai-ou-faux-consigne">
        <div class="col-xs-12">
            <p>VRAI OU FAUX</p>
            <p>parmi les affirmation suivantes, distingue les vraies des fausses en cochant la case correspondante.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            <p>VRAI</p>
        </div>
        <div class="col-xs-1">
            <p>FAUX</p>
        </div>
    </div>
    <!-- START Première ligne de jeux -->
    <div class="row vrai-ou-faux-ligne-question">
        <div class="col-xs-1">
            <button type="checkbox" class="btn btn-default check-vrai-ou-faux">
    </div>
    <div class="col-xs-1">
      <button type="checkbox" class="btn btn-default check-vrai-ou-faux">
    </div>
    <div class="col-xs-6 vrai-ou-faux-condition">
      <p class="classe-fille">Aucun risque de s'électrocuter si l'on utilise un sèche-cheveux avec les mains mouillées.</p>
    </div>
  </div>
  <!-- END première ligne de jeux -->
  <!-- START deuxième ligne de jeux -->
  <div class="row vrai-ou-faux-ligne-question">
    <div class="col-xs-1">
      <button type="checkbox" class="btn btn-default check-vrai-ou-faux">
    </div>
    <div class="col-xs-1">
      <button type="checkbox" class="btn btn-default check-vrai-ou-faux">
    </div>
    <div class="col-xs-6 vrai-ou-faux-condition">
      <p>Si je touche un lave-linge qui grésille ou qui picote le bout de mes doigts, je préviens tout de suite mes parents.</p>
    </div>
  </div>
  <!-- END deuxième ligne de jeux -->
  <!-- START troisème ligne de jeux -->
  <div class="row vrai-ou-faux-ligne-question">
    <div class="col-xs-1">
      <button type="checkbox" class="btn btn-default check-vrai-ou-faux">
    </div>
    <div class="col-xs-1">
      <button type="checkbox" class="btn btn-default check-vrai-ou-faux">
    </div>
    <div class="col-xs-6 vrai-ou-faux-condition">
      <p>Il n'est pas dangereux de se servir d'un apareil électrique dans l'eau.</p>
    </div>
  </div>
  <!-- END troisème ligne de jeux -->
  <!-- START quatrième ligne de jeux -->
  <div class="row vrai-ou-faux-ligne-question">
    <div class="col-xs-1">
      <button type="checkbox" class="btn btn-default check-vrai-ou-faux">
    </div>
    <div class="col-xs-1">
      <button type="checkbox" class="btn btn-default check-vrai-ou-faux">
    </div>
    <div class="col-xs-6 vrai-ou-faux-condition">
      <p>Pour faire sécher ma serviette plus vite, on peut la poser sur le radiateur électrique, meme si ce n'est pas un sèche-serviette</p>
    </div>
  </div>
  <!-- END quatrième ligne de jeux -->
  <!-- START cinquième ligne de jeux -->
  <div class="row vrai-ou-faux-ligne-question">
    <div class="col-xs-1">
      <button type="checkbox" class="btn btn-default check-vrai-ou-faux">
    </div>
    <div class="col-xs-1">
      <button type="checkbox" class="btn btn-default check-vrai-ou-faux">
    </div>
    <div class="col-xs-6 vrai-ou-faux-condition">
      <p>Aucun risque de s'électrocuter si l'on utilise un sèche-cheveux avec les mains mouillées.</p>
    </div>
  </div>
  <!-- END cinquième ligne de jeux -->
</div>
