@red :#CC0060;
@green : #90C72F;

  strong {

    height: 250px;
  color: @red;
}

button{
  font-size: 19px;
  color: white;
  background-color: @green;
  height: 90px;
  margin-top: 30px;
  border-radius: 12px;

}

textarea{
      margin-top: 30px;
    border-radius: 25px;
}
