.miniquiz-question p{
  font-weight: bold;
}
.miniquiz-reponse-rouge{
  font-weight: bold;
  color: red;
}
.miniquiz-reponse-vert{
  font-weight: bold;
  color: green;
}
.miniquiz-reponse-blue{
  font-weight: bold;
  color: blue;
}
.miniquiz-proposition{
  margin-top: 2%;
  border: 2px solid black;
}
.miniquiz-bouton{
  width: 80px;
  height: 50px;
}
.miniquiz-bouton-rouge{
  background-color: red;
}
.miniquiz-bouton-vert{
  background-color: green;
}
.miniquiz-bouton-blue{
  background-color: blue;
}
.miniquiz-ligne-reponse-rouge{
margin-top: 2%;
}
